.searchAddCont {
    width: 100%;

    display: flex;
    align-items: center;
    gap: .5em;
}


/* FORM CREATE */

.formCreate {
    width: 100%;
    padding: 2em 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}


.inpCont,
.inpContTextArea {
    display: flex;
    align-items: center;

    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 1em;
}

.inpCont label {
    position: absolute;
    left: 1em;
    font-weight: 400;
    opacity: .5;
    transition: 500ms;
}

.inpCont input:focus~label,
.inpCont input:not(:placeholder-shown)~label {
    top: -45%;
    left: 0;

    font-size: 14px;
    opacity: .8;
}

.inpContTextArea label {
    position: absolute;
    top: 10px;
    left: 1em;
    font-weight: 400;
    opacity: .5;
    transition: 500ms;
}

.textarea:focus~label,
.textarea:not(:placeholder-shown)~label {
    top: -25%;
    left: 0;

    font-size: 14px;
    opacity: .8;
}

.inpCont input,
.textarea {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #000;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    padding: 20px 45px 20px 20px;

}

.inpCont input {
    border-radius: 40px;
}

.textarea {
    border-radius: 10px;
}

.inpContTextArea {
    width: 100%;
    height: auto;

    position: relative;
}

.inpCont input:focus,
.textarea:focus {
    border-color: var(--text-color-aux);
}

.textarea {
    width: 100%;
    max-height: 150px;
    padding: 1rem;
    resize: vertical;
}

.inpGroup {
    width: 100%;
    display: flex;
    gap: .8em;
}

.btnGroup {
    align-self: flex-end;

    display: flex;
    gap: .5em;
}