.tableCont {
    width: 100%;

    box-shadow: var(--shadow-sm);

    border-collapse: collapse;
}

.head_data,
.register_data,
.register_btnCont {
    padding: .8em;
    text-align: center;
}

.head_data{
    text-align: center;
}

.head {
    background-color: var(--primary-color);
    color: var(--text-color-aux);
}

.tableCont_body{
    background-color: var(--surface-color);
    color: var(--text-color);

    &::selection{
        background-color: var(--primary-light);
        color: var(--text-color);
    }
}

.register:hover {
    background-color: var(--surface-color-2);
}

.register_btnCont {
    display: flex;
    justify-content: center;
    gap: .2em;
}